/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	font-family: 'Lato', sans-serif;
	margin: 0;
}
header{
	width: 100%;
	height: 50px;
	margin-top: -10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container h{
	font-size: 30px;
	font-weight: bold;
}
.container p{
	font-size: 14px;
	color:grey;
}
.logo{
	width: 20%;
	line-height: 50px;
	padding-top: 15px;
}
.menu ul{
	display: flex;
	align-items: center;
	text-align: center;
}
.menu ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	padding-right: 10px;
}
.icon{
	display: flex;
	align-items: center;
}
.banner{
	width: 100%;
	min-height: 200px;
}
.underline-with-space {
      position: relative;
      display: inline-block;
    } 
.underline-with-space:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px; 
      width: 100%;
      border-bottom: 2px solid darkred;
    }
.border{
	 border: 2px solid grey;
     border-radius: 10px;
}
.form-control {
      max-width: 400px;
      padding: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid grey;
      border-radius: 5px;
    }

    button {
      background-color: darkorange;
      color: white;
      padding: 10px 30px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {

	font-size:100px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff

}
#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:darkred;
      text-decoration: none; 
}
#slider .owl-dots{ 
    position:absolute; bottom: 10px; left:47%;
}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 
}
*#slider .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;

      margin: 4px 10px;
      background: darkred;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; 
}

 #slider .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: grey; 
}